#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.container {
  display: flex;
  align-items: center;
}

.left {
  display: flex;
  width: 50%;
  flex-direction: column;
}
.right {
  display: flex;
  width: 50%;

  flex-direction: column;
}
.box {
  padding: 5rem;
  border: 1px solid black;
}
@media screen and (max-width: 720px) {
  .container {
    flex-direction: column;
  }
  .special-comp {
    position: absolute;
    top: 0;
  }
  .left {
    margin-top: 100%;
  }
  /* .left {
    flex-direction: row;
  }
  .right {
    flex-direction: row;
  } */
}
